.Card-enter-done {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.Card-enter {
  opacity: 0;
  -webkit-transform: translateY(-250px);
          transform: translateY(-250px);
}

.Card-enter-active:nth-child(1) {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: opacity .2s .05s, -webkit-transform .4s .05s;
  transition: opacity .2s .05s, -webkit-transform .4s .05s;
  transition: opacity .2s .05s, transform .4s .05s;
  transition: opacity .2s .05s, transform .4s .05s, -webkit-transform .4s .05s;
}

.Card-enter-active:nth-child(2) {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: opacity .2s .1s, -webkit-transform .4s .1s;
  transition: opacity .2s .1s, -webkit-transform .4s .1s;
  transition: opacity .2s .1s, transform .4s .1s;
  transition: opacity .2s .1s, transform .4s .1s, -webkit-transform .4s .1s;
}

.Card-enter-active:nth-child(3) {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: opacity .2s .15s, -webkit-transform .4s .15s;
  transition: opacity .2s .15s, -webkit-transform .4s .15s;
  transition: opacity .2s .15s, transform .4s .15s;
  transition: opacity .2s .15s, transform .4s .15s, -webkit-transform .4s .15s;
}

.Card-exit {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.Card-exit-active {
  opacity: 0;
  -webkit-transform: translateY(-250px);
          transform: translateY(-250px);
  -webkit-transition: opacity .2s, -webkit-transform .4s;
  transition: opacity .2s, -webkit-transform .4s;
  transition: opacity .2s, transform .4s;
  transition: opacity .2s, transform .4s, -webkit-transform .4s;
}

.title-cols-enter-done {
  opacity: 1;
}

.title-cols-enter {
  opacity: 0;
}

.title-cols-enter-active {
  opacity: 1;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.title-cols-exit {
  opacity: 1;
}

.title-cols-exit-active {
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.title-cols-exit-done {
  opacity: 0;
}

.nav-cont-enter-done {
  width: 100%;
  background-color: #42424287;
}

.nav-cont-enter-done .nav {
  opacity: 1;
  visibility: visible;
}

.nav-cont-enter {
  width: 0%;
  background-color: #92929200;
}

.nav-cont-enter .nav {
  opacity: 0;
  visibility: hidden;
}

.nav-cont-enter-active {
  -webkit-transition: background-color .2s, width .4s;
  transition: background-color .2s, width .4s;
  width: 100%;
  background-color: #42424287;
}

.nav-cont-enter-active .nav {
  opacity: 1;
  visibility: visible;
}

.nav-cont-exit {
  width: 100%;
  background-color: #42424287;
}

.nav-cont-exit .nav {
  opacity: 1;
  visibility: visible;
}

.nav-cont-exit-active {
  width: 0%;
  background-color: #92929200;
  -webkit-transition: background-color .2s, width .4s;
  transition: background-color .2s, width .4s;
}

.nav-cont-exit-active .nav {
  opacity: 0;
  visibility: hidden;
}

.nav-cont-enter-done::before {
  -webkit-transform: rotate(45deg) translate(30vw, -100vh);
          transform: rotate(45deg) translate(30vw, -100vh);
}

.nav-cont-enter-done::after {
  -webkit-transform: rotate(45deg) translate(-90vw, -100vh);
          transform: rotate(45deg) translate(-90vw, -100vh);
}

.nav-cont-enter::before {
  -webkit-transform: rotate(45deg) translate(25vw, -400vh);
          transform: rotate(45deg) translate(25vw, -400vh);
}

.nav-cont-enter::after {
  -webkit-transform: rotate(45deg) translate(-55vw, -400vh);
          transform: rotate(45deg) translate(-55vw, -400vh);
}

.nav-cont-enter-active::before {
  -webkit-transform: rotate(45deg) translate(30vw, -100vh);
          transform: rotate(45deg) translate(30vw, -100vh);
  -webkit-transition: -webkit-transform .55s ease-in-out 0.3s;
  transition: -webkit-transform .55s ease-in-out 0.3s;
  transition: transform .55s ease-in-out 0.3s;
  transition: transform .55s ease-in-out 0.3s, -webkit-transform .55s ease-in-out 0.3s;
}

.nav-cont-enter-active::after {
  -webkit-transform: rotate(45deg) translate(-90vw, -100vh);
          transform: rotate(45deg) translate(-90vw, -100vh);
  -webkit-transition: -webkit-transform .55s ease-in-out 0.2s;
  transition: -webkit-transform .55s ease-in-out 0.2s;
  transition: transform .55s ease-in-out 0.2s;
  transition: transform .55s ease-in-out 0.2s, -webkit-transform .55s ease-in-out 0.2s;
}

.nav-cont-exit::before {
  -webkit-transform: rotate(45deg) translate(30vw, -100vh);
          transform: rotate(45deg) translate(30vw, -100vh);
}

.nav-cont-exit::after {
  -webkit-transform: rotate(45deg) translate(-90vw, -100vh);
          transform: rotate(45deg) translate(-90vw, -100vh);
}

.nav-cont-exit-active::before {
  -webkit-transition: -webkit-transform .55s ease-in-out 0.2s;
  transition: -webkit-transform .55s ease-in-out 0.2s;
  transition: transform .55s ease-in-out 0.2s;
  transition: transform .55s ease-in-out 0.2s, -webkit-transform .55s ease-in-out 0.2s;
  -webkit-transform: rotate(45deg) translate(25vw, -400vh);
          transform: rotate(45deg) translate(25vw, -400vh);
}

.nav-cont-exit-active::after {
  -webkit-transition: -webkit-transform .55s ease-in-out;
  transition: -webkit-transform .55s ease-in-out;
  transition: transform .55s ease-in-out;
  transition: transform .55s ease-in-out, -webkit-transform .55s ease-in-out;
  -webkit-transform: rotate(45deg) translate(-55vw, -400vh);
          transform: rotate(45deg) translate(-55vw, -400vh);
}
/*# sourceMappingURL=transition.css.map */