@font-face {
    font-family: 'Poppins';
    src: url('./static/font/Poppins-Bold.ttf');
    font-style: bold;
    font-weight: 600;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('./static/font/Poppins-MediumItalic.ttf');
    font-style: italic;
    font-weight: 600;
    font-weight: normal;
    
  }
  @font-face {
    font-family: 'Poppins';
    src: url('./static/font/Poppins-Thin.ttf');
    font-style: thin;
    font-weight: 200;
    font-weight: thin;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('./static/font/Poppins-Medium.ttf');
    font-style: normal;
    font-weight: 400;
    font-weight: normal;
  }

body{
    padding: 0;
    margin: 0;
    background: rgb(0, 0, 0);
    font-family: 'Poppins';
    color: white;
    width: 200vw;

}
#root{
    display: flex;
    flex-direction: row;
}
::-webkit-scrollbar{
    display: none;
}
//Background Setup
.background-grade{
    width: 100vw;
    height: 100vh;
    .filter{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
    }
}

//
.contact-cont{
    background-color: rgb(19, 19, 19);
    height: 100%;
    width: 0%;
    opacity: 1;
    animation: openingSide .6s ease-in-out .4s forwards;
    transition: left .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    form{
        opacity: 0;
        animation: appear .5s ease-in .5s forwards;
        width: 90%;
        height: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;

        .name-input, .email-input, .message-input{
            width: 50%;
            margin: 1% 0;
            label{
                font-size: 1.1vw;
            }
        }
        button{
            border: none;
            background-color: #1f3537;
            color: #fff;
            width: 15%;
            height: 6%;
            font-size: 1.1vw;
            // font-weight: bold;
            font-family: 'Poppins';
            letter-spacing: 4%;
            border-radius: 10px;
            margin: 2% 0;
            transition: box-shadow .15s ease-out, background-color .1s ease-in ;
            &:hover{
            text-shadow: #7de4e3;
                box-shadow: 0 0 10px 0px #7de4e3;
                cursor: pointer;
            background-color: #101a1b;
                
                
      
            }
        }
        .input-cont{
            padding:3%;
            transition: box-shadow .2s;

            background-color: rgb(33, 33, 33);
            justify-content: center;
            align-items: center;
            display: flex;
            border-radius: 15px;
            
            input{
                background-color: rgb(33, 33, 33);
                color: rgba(255, 255, 255, 0.297);
                width: 95%;
                border: none;
                &:focus{
                    outline: none;
                   } 
            }
            textarea{
                background-color: rgb(33, 33, 33);
                color: rgba(255, 255, 255, 0.297);
                width: 95%;
                height: 20vh;
                border: none;
                resize: none;
               &:focus{
                outline: none;
               } 
            }
            &:hover{
                cursor: text;
                box-shadow: 0 0 9px 1px #63b5b253;

            }
        }
    }
}
@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes openingSide {
    0%{
        right: -40%;
        width: 0%;
        opacity: 0;
    }
    100%{
        right: 0%;
        width: 50%;
        opacity: 1;
    }
}

    .open-drawer{

        opacity: 1;

        left: 0%;
    }
    .close-drawer{
        left: -100%;

        opacity: 0;
    }
    .drawer-cont{

        backdrop-filter: blur(20px);
        width: 100vw;
        height: 100vh;
        z-index: 3;
        position: fixed;
        display: flex;
        transition: opacity .4s;

        .navigate-cont{
            transition: opacity .6s;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            height: 100%;
            width: 50%;
            transition:flex .5s;
            .navigate-item{
                color: white;
                margin: 1.5rem;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                h1{
                        font-size: 3vw;
                        margin: 0;
                }
                .underline{
                    width: 0rem;
                    height: .5rem;
                    transition: width .2s ease-in;
                    background-color: white;
                }
                &:hover{
                    .underline{
                        width: 10.5rem;

                    }
                }
            }
        }
    }
    .hamburger{

        position: fixed;
        z-index: 4;
        top: 5%;
        left: 8%;
        width: 2rem;
        height: 1.7rem;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        .lay{
            z-index: 2;
            width: 100%;
            height: 9px;
            margin-bottom: .3rem;
            // border: white solid 1px;
            background-color: #fff;
            border-radius: 1px;
            transition: box-shadow .5s, transform .1s ease-in, opacity .3s;
        }


        &:hover{
            cursor: pointer;
            .lay{
                box-shadow: 0px 2px 10px 0px #5cacab;
            }

        }
    }
    .closeburger{
        .lay1{
            transform: rotate(45deg);
            opacity: 0;
        }
        .lay2{
            transform: rotate(45deg) translateY(130%);

        }
        .lay3{
            transform: rotate(-45deg) translateY(-130%);

        }
    }


.left{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    //Background
    .back-left{

        background-position: 56% 50%;
        opacity: .15;
        background-repeat: no-repeat;
        background-size: 100vw;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .about-title{
        cursor:default;
        font-size: 2.5vw;
        // Bigger screen soze need to change to 6.5pc
        transform: rotate(-90deg);
    user-select: none;

        position: absolute;
        top: 14%;
        left: 25%;
        opacity: 0.2;

    }
    #about-desc{
        cursor:default;
        font-size: 9px;
        position: absolute;
        top: 9%;
        width: 55%;
        left: 45%;
        font-weight: 200;
        letter-spacing: 1.5px;
        user-select: none;
    }

    .social-media-cont{
        position: absolute;
        bottom: 17%;
        left: 45%;

    }
    .social-media-cont ul{
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        height: 2rem;
        width: max-content;
        li{
            list-style: none;
            margin-right: 1.3vw;
            width: 4vw;
            height: fit-content;
            display: flex;
            position: relative;
            a{
                width: fit-content;
                height: 5vh;
                display: flex;
                transform: translateY(0rem);
                transition: transform .25s;

                &:hover{
                    transform: translateY(-.25rem);
                    cursor: pointer;
                    .link-logo{

                        box-shadow: -4px 5px 10px -1px rgb(77, 77, 77);
                        fill: rgb(93, 172, 218);

                    }
                }
            }
            .link-logo{

                border-radius: 5px;
                padding: .1%;
                height: 5vh;
                // background-position: center;
                // background-size: contain;
                // background-repeat: no-repeat;
                transition: box-shadow .25s;

            }
        }
    }
}
.right{
    display: flex;
    flex-direction: column;
    width: 50%;
    .right-up{
        width: 100%;
        height: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .title{
            position: relative;
            user-select: none;

        }
        h2{
            cursor:default;
            position: absolute;
            top: -27%;
            left: 3%;
            margin: 0;
            font-size: 2.5vw;
            font-weight: 400;

        }
        h1{
            cursor:default;
            margin: 0;
            letter-spacing: 2px;
            font-size: 3.8vw;
            &::first-letter{
                color: #5cacab;
            user-select: none;

            }
        }
        .next-button{
            transform: skew(-20deg);
            padding: 1px 1.3vw;
            border: 1px solid #fff;
            overflow: hidden;
            position: relative;
            h4{
                font-weight: 500;
                transform: skew(20deg);
                margin: 0;
                font-size: small;
            }
            &::after{
                content: '';
                background-color: white;
                width: 100%;
                height: 100%;
                position: absolute;
                top: -100%;
                left: 0;
                transition: top .3s ease, color .4s ;

            }


            &:hover{
                cursor: pointer;
                &::after{
                    content: '';
                    background-color: white;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;

                }
                h4{
                    color: black;
                }

            }
        }


    }
    .right-down{
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .logo{
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 15%;
            height: 100%;

        }
    }
}

//to be separated

.second-page{
    background-color: rgb(5, 5, 5);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;

    h1{
        font-size: 3vw;
    }
    .item-cont{
        visibility: hidden;
        opacity: 0;
        display: flex;

        transform: translateY(40%);
        transition: opacity .6s ease-in-out, visibility .6s, transform 1s;
        // position: absolute;
        overflow: scroll;
        height: 100%;

        flex-wrap: wrap;
    }
    .item-open{
        visibility: visible;
        opacity: 1;
        transform: translateY(0%);

    }
    .openSecond1, .openSecond2{
        width: 200%;

    }
    .openTitle{
        height: 20%;
        .title-proj, .title-gallery{
            font-size: 2vw;
        }
    }
    .title-cont{

        height: 200%;
    }
    .extr-title{
        display: flex;
        align-items: center;
        justify-content: center;
        transition: height .9s ease-in-out;

    }
}

.second1{
    // justify-content: center;
    align-items: center;
    transition: background-color .2s ease, width .4s ease-in-out;
    overflow: hidden;

    &:hover{
        cursor: pointer;
        background-color: rgb(30, 30, 30);
        .title-proj{
            letter-spacing: 6px;
        }
    }
    .title-proj{
        transition: letter-spacing .4s ease,all .3s ease-out ;
        letter-spacing: 3px;
        color: white;

    }


}
.second2{

    // justify-content: center;
    align-items: center;
    background-color: #2f5554;
    transition: background-color .2s ease, width .4s ease-in-out;
    overflow: hidden;
    &:hover{
        cursor: pointer;
        background-color: rgb(120, 120, 120);
        .title-gallery{
            letter-spacing: 6px;
        }
    }
    .title-gallery{
        transition: letter-spacing .4s ease , all .3s ease-out;
        letter-spacing: 3px;
        color: white;
    }
}
.row-gallery{

    .container-item{
        margin: .2rem;
        display: flex;
        align-items: center;
        background-color: rgba(70, 70, 70, 0.139);
        flex-direction: column;
        border-radius: 10pt;
        overflow: hidden;
        height: 29vh;
        width: 19vw;
        position: relative;
        transition: background-color .2s ease-in;
        .item-picture{
            background-position: center;
            background-repeat: no-repeat;
            background-size:cover;
            height: 90%;
            width: 100%;
            transition: height .2s, width .2s;
        }
        .content-title{
            // margin: 1rem 0;
            h1, p{
                margin: 0;
                text-align: center;
                transition: color .4s;
            }
            p{
                font-size: .9vw;
            }
            h1{
                font-size: 1.2vw;
            }
        }
        .description{
            margin: 2rem 0;
            p{
                font-size: .8vw;
                margin: 0;

            }
            .tag-cont{
                display: flex;
                flex-direction: row;
                margin: 1vh 0;
                .tag{
                    padding: 0.2rem .4rem;
                    border-radius: 15px;
                    margin: 0 .2rem;
                    color: rgb(33, 33, 33);
                    p{
                        font-weight:bold;
                    }
                }
                .even{
                    background-color: rgb(227, 227, 67);
                }
                .odd{
                    background-color: rgb(67, 227, 214);

                }
            }
            .credit-cont{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                margin-top: .3rem;
                p{
                    font-weight: bold;
                }
                .credit{
                    margin: 0 .3rem;
                    a{
                        margin: 0;

                    }
                    q{
                        color: white;
                        font-size: .8vw;
                        text-decoration: underline;
                    }
                }
            }
        }
        &:hover{

            background-color: rgb(75, 108, 106);
            h1{
                color: rgb(46, 192, 192);
            }
        }
    }
}
.column-one{
    .container-item{
        margin: 1rem;
        padding: 1rem;
        background-color: rgba(70, 70, 70, 0.139);
        border-radius: 15pt;
        overflow: hidden;
        height: 29vh;
        width: 18vw;
        position: relative;
        transition: height .3s ease-in, background-color .2s ease-in;
        .item-picture{
            background-position: center;
            background-repeat: no-repeat;
            background-size:contain;
            height: 19vh;
            width: 18vw;
        }
        .content-title{

            h1, p{
                margin: 0;
                text-align: center;
                transition: color .4s;
            }
            p{
                font-size: .9vw;
            }
            h1{
                font-size: 2vw;
            }
        }
        .description{
            margin: 20% 0;
            p{
                font-size: .8vw;
                margin: 0;

            }
            .tag-cont{
                display: flex;
                flex-direction: row;
                margin: 1vh 0;
                .tag{
                    padding: 0.2rem .4rem;
                    border-radius: 15px;
                    margin: 0 .2rem;
                    color: rgb(33, 33, 33);
                    p{
                        font-weight:bold;
                    }
                }
                .even{
                    background-color: rgb(227, 227, 67);
                }
                .odd{
                    background-color: rgb(67, 227, 214);

                }
            }
            .credit-cont{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                margin-top: .3rem;
                p{
                    font-weight: bold;
                }
                .credit{
                    margin: 0 .3rem;
                    a{
                        margin: 0;

                    }
                    q{
                        color: white;
                        font-size: .8vw;
                        text-decoration: underline;
                    }
                }
            }
        }
        &:hover{
            height: 58vh;
            background-color: rgb(60, 90, 89);
            h1{
                color: rgb(46, 192, 192);
            }
        }
    }

}
