@font-face {
  font-family: 'Poppins';
  src: url("./static/font/Poppins-Bold.ttf");
  font-style: bold;
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url("./static/font/Poppins-MediumItalic.ttf");
  font-style: italic;
  font-weight: 600;
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("./static/font/Poppins-Thin.ttf");
  font-style: thin;
  font-weight: 200;
  font-weight: thin;
}

@font-face {
  font-family: 'Poppins';
  src: url("./static/font/Poppins-Medium.ttf");
  font-style: normal;
  font-weight: 400;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: black;
  font-family: 'Poppins';
  color: white;
  width: 200vw;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

::-webkit-scrollbar {
  display: none;
}

.background-grade {
  width: 100vw;
  height: 100vh;
}

.background-grade .filter {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact-cont {
  background-color: #131313;
  height: 100%;
  width: 0%;
  opacity: 1;
  -webkit-animation: openingSide .6s ease-in-out .4s forwards;
          animation: openingSide .6s ease-in-out .4s forwards;
  -webkit-transition: left .4s;
  transition: left .4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.contact-cont form {
  opacity: 0;
  -webkit-animation: appear .5s ease-in .5s forwards;
          animation: appear .5s ease-in .5s forwards;
  width: 90%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-cont form .name-input, .contact-cont form .email-input, .contact-cont form .message-input {
  width: 50%;
  margin: 1% 0;
}

.contact-cont form .name-input label, .contact-cont form .email-input label, .contact-cont form .message-input label {
  font-size: 1.1vw;
}

.contact-cont form button {
  border: none;
  background-color: #1f3537;
  color: #fff;
  width: 15%;
  height: 6%;
  font-size: 1.1vw;
  font-family: 'Poppins';
  letter-spacing: 4%;
  border-radius: 10px;
  margin: 2% 0;
  -webkit-transition: background-color .1s ease-in, -webkit-box-shadow .15s ease-out;
  transition: background-color .1s ease-in, -webkit-box-shadow .15s ease-out;
  transition: box-shadow .15s ease-out, background-color .1s ease-in;
  transition: box-shadow .15s ease-out, background-color .1s ease-in, -webkit-box-shadow .15s ease-out;
}

.contact-cont form button:hover {
  text-shadow: #7de4e3;
  -webkit-box-shadow: 0 0 10px 0px #7de4e3;
          box-shadow: 0 0 10px 0px #7de4e3;
  cursor: pointer;
  background-color: #101a1b;
}

.contact-cont form .input-cont {
  padding: 3%;
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
  background-color: #212121;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
}

.contact-cont form .input-cont input {
  background-color: #212121;
  color: rgba(255, 255, 255, 0.297);
  width: 95%;
  border: none;
}

.contact-cont form .input-cont input:focus {
  outline: none;
}

.contact-cont form .input-cont textarea {
  background-color: #212121;
  color: rgba(255, 255, 255, 0.297);
  width: 95%;
  height: 20vh;
  border: none;
  resize: none;
}

.contact-cont form .input-cont textarea:focus {
  outline: none;
}

.contact-cont form .input-cont:hover {
  cursor: text;
  -webkit-box-shadow: 0 0 9px 1px #63b5b253;
          box-shadow: 0 0 9px 1px #63b5b253;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes openingSide {
  0% {
    right: -40%;
    width: 0%;
    opacity: 0;
  }
  100% {
    right: 0%;
    width: 50%;
    opacity: 1;
  }
}

@keyframes openingSide {
  0% {
    right: -40%;
    width: 0%;
    opacity: 0;
  }
  100% {
    right: 0%;
    width: 50%;
    opacity: 1;
  }
}

.open-drawer {
  opacity: 1;
  left: 0%;
}

.close-drawer {
  left: -100%;
  opacity: 0;
}

.drawer-cont {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  width: 100vw;
  height: 100vh;
  z-index: 3;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}

.drawer-cont .navigate-cont {
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 50%;
  -webkit-transition: -webkit-box-flex .5s;
  transition: -webkit-box-flex .5s;
  transition: flex .5s;
  transition: flex .5s, -webkit-box-flex .5s, -ms-flex .5s;
}

.drawer-cont .navigate-cont .navigate-item {
  color: white;
  margin: 1.5rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.drawer-cont .navigate-cont .navigate-item h1 {
  font-size: 3vw;
  margin: 0;
}

.drawer-cont .navigate-cont .navigate-item .underline {
  width: 0rem;
  height: .5rem;
  -webkit-transition: width .2s ease-in;
  transition: width .2s ease-in;
  background-color: white;
}

.drawer-cont .navigate-cont .navigate-item:hover .underline {
  width: 10.5rem;
}

.hamburger {
  position: fixed;
  z-index: 4;
  top: 5%;
  left: 8%;
  width: 2rem;
  height: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.hamburger .lay {
  z-index: 2;
  width: 100%;
  height: 9px;
  margin-bottom: .3rem;
  background-color: #fff;
  border-radius: 1px;
  -webkit-transition: opacity .3s, -webkit-box-shadow .5s, -webkit-transform .1s ease-in;
  transition: opacity .3s, -webkit-box-shadow .5s, -webkit-transform .1s ease-in;
  transition: box-shadow .5s, transform .1s ease-in, opacity .3s;
  transition: box-shadow .5s, transform .1s ease-in, opacity .3s, -webkit-box-shadow .5s, -webkit-transform .1s ease-in;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger:hover .lay {
  -webkit-box-shadow: 0px 2px 10px 0px #5cacab;
          box-shadow: 0px 2px 10px 0px #5cacab;
}

.closeburger .lay1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
}

.closeburger .lay2 {
  -webkit-transform: rotate(45deg) translateY(130%);
          transform: rotate(45deg) translateY(130%);
}

.closeburger .lay3 {
  -webkit-transform: rotate(-45deg) translateY(-130%);
          transform: rotate(-45deg) translateY(-130%);
}

.left {
  position: relative;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left .back-left {
  background-position: 56% 50%;
  opacity: .15;
  background-repeat: no-repeat;
  background-size: 100vw;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.left .about-title {
  cursor: default;
  font-size: 2.5vw;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 14%;
  left: 25%;
  opacity: 0.2;
}

.left #about-desc {
  cursor: default;
  font-size: 9px;
  position: absolute;
  top: 9%;
  width: 55%;
  left: 45%;
  font-weight: 200;
  letter-spacing: 1.5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.left .social-media-cont {
  position: absolute;
  bottom: 17%;
  left: 45%;
}

.left .social-media-cont ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  margin: 0;
  height: 2rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.left .social-media-cont ul li {
  list-style: none;
  margin-right: 1.3vw;
  width: 4vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.left .social-media-cont ul li a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

.left .social-media-cont ul li a:hover {
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
  cursor: pointer;
}

.left .social-media-cont ul li a:hover .link-logo {
  -webkit-box-shadow: -4px 5px 10px -1px #4d4d4d;
          box-shadow: -4px 5px 10px -1px #4d4d4d;
  fill: #5dacda;
}

.left .social-media-cont ul li .link-logo {
  border-radius: 5px;
  padding: .1%;
  height: 5vh;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.right .right-up {
  width: 100%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right .right-up .title {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.right .right-up h2 {
  cursor: default;
  position: absolute;
  top: -27%;
  left: 3%;
  margin: 0;
  font-size: 2.5vw;
  font-weight: 400;
}

.right .right-up h1 {
  cursor: default;
  margin: 0;
  letter-spacing: 2px;
  font-size: 3.8vw;
}

.right .right-up h1::first-letter {
  color: #5cacab;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.right .right-up .next-button {
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  padding: 1px 1.3vw;
  border: 1px solid #fff;
  overflow: hidden;
  position: relative;
}

.right .right-up .next-button h4 {
  font-weight: 500;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  margin: 0;
  font-size: small;
}

.right .right-up .next-button::after {
  content: '';
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  -webkit-transition: top .3s ease, color .4s;
  transition: top .3s ease, color .4s;
}

.right .right-up .next-button:hover {
  cursor: pointer;
}

.right .right-up .next-button:hover::after {
  content: '';
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.right .right-up .next-button:hover h4 {
  color: black;
}

.right .right-down {
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right .right-down .logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 15%;
  height: 100%;
}

.second-page {
  background-color: #050505;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.second-page h1 {
  font-size: 3vw;
}

.second-page .item-cont {
  visibility: hidden;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  -webkit-transition: opacity .8s ease-in, visibility .8s, -webkit-transform 1s;
  transition: opacity .8s ease-in, visibility .8s, -webkit-transform 1s;
  transition: opacity .8s ease-in, visibility .8s, transform 1s;
  transition: opacity .8s ease-in, visibility .8s, transform 1s, -webkit-transform 1s;
  overflow: scroll;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.second-page .item-open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.second-page .openSecond1, .second-page .openSecond2 {
  width: 200%;
}

.second-page .openTitle {
  height: 20%;
}

.second-page .openTitle .title-proj, .second-page .openTitle .title-gallery {
  font-size: 2vw;
}

.second-page .title-cont {
  height: 200%;
}

.second-page .extr-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: height .9s ease-in-out;
  transition: height .9s ease-in-out;
}

.second1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color .2s ease, width .4s ease-in-out;
  transition: background-color .2s ease, width .4s ease-in-out;
  overflow: hidden;
}

.second1:hover {
  cursor: pointer;
  background-color: #1e1e1e;
}

.second1:hover .title-proj {
  letter-spacing: 6px;
}

.second1 .title-proj {
  -webkit-transition: letter-spacing .4s ease, margin-top .3s ease-out, margin-bottom .3s ease-out, font-size .3s ease-out;
  transition: letter-spacing .4s ease, margin-top .3s ease-out, margin-bottom .3s ease-out, font-size .3s ease-out;
  letter-spacing: 3px;
  color: white;
}

.second2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2f5554;
  -webkit-transition: background-color .2s ease, width .4s ease-in-out;
  transition: background-color .2s ease, width .4s ease-in-out;
  overflow: hidden;
}

.second2:hover {
  cursor: pointer;
  background-color: #787878;
}

.second2:hover .title-gallery {
  letter-spacing: 6px;
}

.second2 .title-gallery {
  -webkit-transition: letter-spacing .4s ease , margin-top .3s ease-out, margin-bottom .3s ease-out, font-size .3s ease-out;
  transition: letter-spacing .4s ease , margin-top .3s ease-out, margin-bottom .3s ease-out, font-size .3s ease-out;
  letter-spacing: 3px;
  color: white;
}

.row-gallery {
  -webkit-transition: opacity .8s ease-in, visibility .8s, -webkit-transform 1s;
  transition: opacity .8s ease-in, visibility .8s, -webkit-transform 1s;
  transition: opacity .8s ease-in, visibility .8s, transform 1s;
  transition: opacity .8s ease-in, visibility .8s, transform 1s, -webkit-transform 1s;
}

.row-gallery .container-item {
  margin: .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(70, 70, 70, 0.139);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10pt;
  overflow: hidden;
  height: 29vh;
  width: 19vw;
  position: relative;
  -webkit-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
}

.row-gallery .container-item .item-picture {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 300px;
  max-width: 400px;
  min-width: 300px;
  min-height: 150px;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.row-gallery .container-item .content-title h1, .row-gallery .container-item .content-title p {
  margin: 0;
  text-align: center;
  -webkit-transition: color .4s;
  transition: color .4s;
}

.row-gallery .container-item .content-title p {
  font-size: .9vw;
}

.row-gallery .container-item .content-title h1 {
  font-size: 1.2vw;
}

.row-gallery .container-item .description {
  margin: 2rem 0;
}

.row-gallery .container-item .description p {
  font-size: .8vw;
  margin: 0;
}

.row-gallery .container-item .description .tag-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1vh 0;
}

.row-gallery .container-item .description .tag-cont .tag {
  padding: 0.2rem .4rem;
  border-radius: 15px;
  margin: 0 .2rem;
  color: #212121;
}

.row-gallery .container-item .description .tag-cont .tag p {
  font-weight: bold;
}

.row-gallery .container-item .description .tag-cont .even {
  background-color: #e3e343;
}

.row-gallery .container-item .description .tag-cont .odd {
  background-color: #43e3d6;
}

.row-gallery .container-item .description .credit-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: .3rem;
}

.row-gallery .container-item .description .credit-cont p {
  font-weight: bold;
}

.row-gallery .container-item .description .credit-cont .credit {
  margin: 0 .3rem;
}

.row-gallery .container-item .description .credit-cont .credit a {
  margin: 0;
}

.row-gallery .container-item .description .credit-cont .credit q {
  color: white;
  font-size: .8vw;
  text-decoration: underline;
}

.row-gallery .container-item:hover {
  background-color: #4b6c6a;
}

.row-gallery .container-item:hover h1 {
  color: #2ec0c0;
}

.column-one .container-item {
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(70, 70, 70, 0.139);
  border-radius: 15pt;
  overflow: hidden;
  height: 29vh;
  width: 18vw;
  position: relative;
  -webkit-transition: height .3s ease-in, background-color .2s ease-in;
  transition: height .3s ease-in, background-color .2s ease-in;
}

.column-one .container-item .item-picture {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 19vh;
  width: 18vw;
}

.column-one .container-item .content-title h1, .column-one .container-item .content-title p {
  margin: 0;
  text-align: center;
  -webkit-transition: color .4s;
  transition: color .4s;
}

.column-one .container-item .content-title p {
  font-size: .9vw;
}

.column-one .container-item .content-title h1 {
  font-size: 2vw;
}

.column-one .container-item .description {
  margin: 20% 0;
}

.column-one .container-item .description p {
  font-size: .8vw;
  margin: 0;
}

.column-one .container-item .description .tag-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1vh 0;
}

.column-one .container-item .description .tag-cont .tag {
  padding: 0.2rem .4rem;
  border-radius: 15px;
  margin: 0 .2rem;
  color: #212121;
}

.column-one .container-item .description .tag-cont .tag p {
  font-weight: bold;
}

.column-one .container-item .description .tag-cont .even {
  background-color: #e3e343;
}

.column-one .container-item .description .tag-cont .odd {
  background-color: #43e3d6;
}

.column-one .container-item .description .credit-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: .3rem;
}

.column-one .container-item .description .credit-cont p {
  font-weight: bold;
}

.column-one .container-item .description .credit-cont .credit {
  margin: 0 .3rem;
}

.column-one .container-item .description .credit-cont .credit a {
  margin: 0;
}

.column-one .container-item .description .credit-cont .credit q {
  color: white;
  font-size: .8vw;
  text-decoration: underline;
}

.column-one .container-item:hover {
  height: 58vh;
  background-color: #3c5a59;
}

.column-one .container-item:hover h1 {
  color: #2ec0c0;
}
/*# sourceMappingURL=style.css.map */